.backButton{
  display: inline-block;
}

.cardView{
  position: relative;
  margin-top: 7%;
}
ion-button{ margin-top: 20px;}
ion-chip{ display: inline-block !important;}
ion-input { border-bottom: 1px solid #dedede !important;
text-align: left;}

ion-content p{
  text-align: center;
}
