html, body, ion-content{
    --ion-background-color: transparent !important;
    background: var(--ion-background-color) !important;
    background-color: var(--ion-background-color) !important;
}

div.card {
    height: 50px;
    width: 300px;
    background-color: white;
    border: 1px solid lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 0;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
    position: fixed;
    border-bottom: 0;
    left: calc(50% - 150px);
    transition: 0.375s ease-out height;
    z-index: 9999;

    ion-button.card {
        height: 50px;
        border: 1px solid lightgray;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin: -1px;
        font-weight: 600;
        border:none;
    }
    span.btnText
    {
        color:darkgrey;
    }
    ion-content.body {
        height: 100%;
    }
    .title{
        font-size: 25px;
    }
    .date {
        font-size: 15px;
    }
    .location {
        font-size: 15px;
    }
}

ion-fab {
    margin-bottom: 80px;
}

div.expand {
    height: 80%;
}